<!doctype html>

<!---hello stuff -->
<!--more stuff -->
<html>
	<head>
	<meta charset="utf-8">
		<title>CWA VMS</title>
		 
		
        <!--link type="text/css" rel="stylesheet" href ="{{ url_for('static', filename='css/vms-style.css')}}"/-->
	</head>

	<body>
		<header>
			<h1>Conference of World Affiars VMS</h1>
		</header>
		<nav> <!-- can only have one nav per page  -->
			<h2 class="hide"> Main Navigation </h2>
			<ul> <!-- unordered list -->
				<li><a href="index.html">Home</a></li> <!-- list items ||| <a> == anchor, used for hyper links ||| href == hypertext reference  -->
				<li><a href="#">Events</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">contact</a></li>   <!-- # used for dummy links -->
			</ul>
		</nav>

		<figure> <!-- wrapping the image -->
		<!-- alt is used for people who cannot see image
			 use width and height betwen src and alt to have placeholders for you images so that page does not rearrange itself
			 width="960" height="150"-->
			<img src="http://www.placehold.it/960x150" alt="pick some picture">
		</figure>

		<section>	
		<h2>Section</h2>
			<article> <!-- can be independent can have both a header and a footer-->
				<h3>Article</h3>
					<p>Maecenas suscipit vel turpis ac eleifend. Nunc nec mauris ut enim vestibulum consequat. Ut et imperdiet massa. Donec tempor, nibh eget egestas feugiat, erat lacus ornare ligula, quis fringilla sapien odio ut nisl. Etiam est est, sodales at tortor in, <br>scelerisque efficitur arcu. Donec at laoreet tellus. Maecenas id tortor imperdiet, tempor turpis eget, tempus turpis. Nulla leo lorem, tempor sit amet purus vitae, sodales tincidunt lacus. Quisque lobortis augue at ante dapibus, ac vehicula magna tristique.</p>
			</article>
		</section>	


		<aside> <!-- sidebar -->
			<h3>Supp Info</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul>
			<!-- social media linka a(absolute url) -->
			<li><a href="http://www.instagram.com" target="_blank">instagram</a></li> <!-- target makes a new tab, ones with same name with replace eachother-->
			<!-- _blank makes a new tab every time -->
			<li><a href="http://www.twitter.com" target="out">twitter</a></li>
		</ul>	
		</aside>	
		
		<footer> <!-- does not need a heading -->
			<small>site made by me &copy;2016</small>
		</footer>
	</body>
</html>
