{% extends "layout.html" %}
{% block body %}
            <div class = " main-content container">
                                    <form action="" class="form-inline" method=post>
                                                                <input type="text"class="form-control" placeholder="Username" name="username" value ="">
                                                                                    <input type="password"class="form-control" placeholder="Password" name="password" value ="">
                                                                                                        <input type="submit" value="Sign Up">
                                                                                                                        </form>
                                                                                                                                        <p id="response">Waiting for insert</p>
                                                                                                                                                    </div>
{% endblock%}
